################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ComercioEletronico/ComercioEletronico/bin
/ComercioEletronico/ComercioEletronico/obj/Debug
